# Ignore the myenv folder
myenv/

# Ignore Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore .tfvars files that may contain sensitive data
*.tfvars

# Ignore crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and don't need to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
